extends ../layout

block title
  != t('account.reset_password.reset_password')

block content
  a#logo(href='/')
  form(action=routes.account.reset_password, method='POST', class='reset-password-form')
    - if( error_message )
      .wrapper.error.error-message
        != error_message

    .wrapper.email-wrapper
      input(name='email', value=email, disabled='disabled')
      input(name='email', type='hidden', value=email)

    .wrapper.password-wrapper
      input(name='password', type='password', placeholder=t('account.new_password_placeholder'))

    input(type='hidden', name='_csrf', value=csrf_token)
    input(type='hidden', name='token', value=token)

    .wrapper
      input.button.primary(value=t('account.reset_password.reset_password'), type='submit')
